/*Navigation menu*/

.site-header {
  background-color: #473a2d;
}

body{
  font-family: 'open_sans', sans-serif;
  min-width: 1200px;
  font-weight: 300;
  margin: 0;
  color: #473a15;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* Header block */
.logo_header {
  margin: 25px 0;
  float: left;
}
.site-navbar::after {
  content: "  ";
  display: table;
  clear: both;
}
.nav_panel {
  float: right;
}

/*.nav_lang {
  float: right;
  border-left: 1px solid #cfcbc8;
}*/

/*.nav_lang li {
  font-size: 13px;
  margin: 24px;
}*/

.nav_list {
  float: left;
  margin-right: 50px;
  padding: 0;
}
.nav_list.nav_condensed {
  border-left: 1px solid #cfcbc8;
}
.nav_list.nav_condensed li {
  font-size: 13px;
}
.nav_list li {
  list-style-type: none;
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
}

.nav_list a {
  text-decoration: none;
  color: #ffffff;
  padding: 24px;
  display: block;
}
.nav_list a:hover {
  background-color: #5b4d3b;
}

/*Слайдер*/


.slider_item {
  position: relative;
  background-image: url("../slider.jpg");
  background-size: cover;
  background-color: #f9f7ef;
}
.slider_item-content {
    height: 600px;
    position: relative;
  }
.slider_dot {
  border-radius: 50%;
  display: inline-block;
  width: 3px;
  height: 3px;
  color: #ffffff;
}
.slider_text {
  color: #f5f2eb;
  position: absolute;
  left: 68px;
  top: 100px;
  padding: 25px;
}
.slider_text h3 {
  font-size: 44px;
  font-weight: 300;
  background-color: #3f3b3c;
  padding: 25px;
  display: inline-block;
}
.slider_text p {
  font-size: 24px;
  background-color: #3f3b3c;
  padding: 25px;
}

/*Pakalpojumi*/
.pakalpojumi {
  background-image: url("../fonspakalpojumi.png");
}
#pakalpojumi {
  text-align: center;
  border-bottom: 1px dotted;
  text-transform: uppercase;
  color: #95782d;
  padding-bottom: 25px;
}
#pakalpojumi_headings {
  text-transform: uppercase;
  text-align: left;
  color: #473a15;
  margin-left: 40px;
}
ul.pakalpojumi_lists li {
  list-style-type: none;
}
ul.pakalpojumi_lists li::after {
  content: "";
  width: 55px;
  border-bottom: 1px solid;
  display: block;
  color: #c7c5be;
  margin-top: 17px;
  margin-bottom: 17px;
}
.geodezija, .mernieciba, .zemesiericiba {
  width: 380px;
  color: #534c38;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-left:10px;
  margin-bottom: 10px;
}
.text_without_image {
  overflow: hidden;
  width: 310px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
}
.geodezija img {
  width: 52px;
  height: 55px;
  float: left;
  margin-top: 60px;
}
.mernieciba img {
  width: 42px;
  height: 54px;
  float: left;
  margin-top: 60px;
}
.zemesiericiba img {
  width: 64px;
  height: 53px;
  float: left;
  margin-top: 60px;
}

/*Pakalpojumi izcenojumi*/

.table1 {
  width: 580px;
  display: inline-block;
}
.table1 table, .table2 table {
  border-collapse: collapse;
  font-weight: 600;
}
.table2 {
  width: 580px;
  display: inline-block;
  margin-left: 10px;
}
.table1 p, .table2 p {
  font-size: 18px;
}
.table1 th, .table2 th {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 16px;
}
.table1 tbody, .table2 tbody {
  font-size: 14px;
  border-bottom: 2px solid #dfd9cf;
  font-weight: 400;
}
.table1 td, .table2 td {
  padding: 16px;
}
.table1 tfoot {
  font-style: italic;
  font-weight: 400;
}
.table1 tbody tr:nth-child(even) {
  background-color: #fff;
}
.table1 tbody tr:nth-child(odd) {
  background-color: #f2ebe1;
}
.table2 tbody tr:nth-child(even) {
  background-color: #fff;
}
.table2 tbody tr:nth-child(odd) {
  background-color: #f2ebe1;
}

/*Par mums*/

.parmums {
  background-color: #6d5639;
  background-image: url("../fonsparmums.jpg");
 background-repeat: repeat;
  color: #b0a79c;
  font-size: 18px;
  text-align: justify;
  margin-top: 48px;
}
.row {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
.col-2 {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.col-2 img {
  display: block;
  margin: auto;
  height: 170px;
  width: 170px;
  margin-bottom: -30px;
}
.col-2 h4 {
  text-align: center;
  color: #c7a457;
  font-size: 36px;
  font-weight: lighter;
}
.col-2 h4::after {
  content: "";
  width: 338px;
  border-bottom: 1px solid;
  display: block;
  color: #77634a;
  margin-left: 150px;

  }
.contact_box p{
  text-align: center;
  font-size: 18px;
  color: #c7a457;
  margin-top: -40px;
}
.certificate{
  background-image: url("../certif.png");
  background-repeat: no-repeat;
  background-position: left center;
  display: inline-block;
  width: 50%;
  text-align: left;
  color: #eadfcd;
  font-size: 13px;
}
.certificate p{
  margin-left: 50px;

}
.certificate_big {
  background-color: #624e36;
  text-align: center;
  font-size: 0;
  padding-left: 57px;
  padding-right: 57px;
}

/*Klienti*/
.logos {
text-align: justify;
margin-top: 53px;
 }
.logos img {
  margin: 30px;
}
 .logos::after {
  content: "";
  display: inline-block;
  width: 100%;
 }


 /*Kontakti*/

 .row1 {
   overflow: hidden;
   margin-left: -15px;
   margin-right: -15px;
 }
 .col-3 {
   width: 33.3333%;
   box-sizing: border-box;
   overflow: hidden;
   padding-left: 15px;
   padding-right: 15px;
   float: left;
   padding-top: 46px;
   display: inline-block;
   color: #ac8d4f;


 }

.contacts {
  background-color: #6d5639;
  background-image: url("../fonsparmums.jpg");
  background-repeat: repeat;
  color: #ac8d4fs;
  overflow: hidden;
}
.footer_img {
  float: left;
  width: 100%;
 }
.text {
  text-align: center;

}
.text p{
  color:  #c7a457;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}
 /*форма обратной связи*/
.form p{
  text-transform: uppercase;
  color: #c7a457;
  margin-top: 0px;
}
.bold_talrunis {
  font-weight: bold;
  color: #eacc8b;
}
.contact_field {
background-color: #7f6c42;
border: 0px solid #7f6c42;
height: 33px;
width: 169px;
color: #a38a55;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #a38a55;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #a38a55;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #a38a55;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #a38a55;
}
.contact_field.left {
float: left;
}
.contact_field.right {
float: right;
}

textarea {
  background-color: #7f6c42;
  border: 0px solid #7f6c42;
  height: 143px;
     width: 100%;
     margin-top: 23px;
     resize: none;
     box-sizing: border-box;
}

.submit {
    width: 110px;
    height: 41px;
    margin-top: 24px;
    display: block;
    border-radius: 0px;
    background-color: #b1965c;
    border: 0px;
    color: #ffffff;
}
