/*Navigation menu*/

header {
  background-color: #473a2d;
  height: 94px;
}
body{
  font-family: 'open_sans', sans-serif;
  min-width: 1200px;
  font-weight: 300;
}

.wrapper {
  width: 1200px;
  margin: auto;
  padding-top: 26px;
}

.slider_item {
  background-image: url("../slider.jpg");
  background-size: cover;
  background-color: #f9f7ef;
}
.slider_item-content {
    height: 600px;
    position: relative;
}
.nav_panel {
  float: right;
  display: inline;
}
.nav_list {
  float: left;
  margin-right: 50px;
}
.nav_lang {
  float: right;
  border-left: 1px solid #cfcbc8;
}
.nav_list li {
  list-style-type: none;
  display: inline;
  font-size: 15px;
  color: #ffffff;
  margin: 24px;
}
.nav_lang li {
  font-size: 13px;
  margin: 24px;
}
.nav_list a {
  text-decoration: none;
  color: #ffffff;
  text-align: justify;
}
.nav_lang a {
  color: #ffffff;
}
.nav_menu, .nav_lang {
  display: inline-block;
}

/*Слайдер*/


.slider_item {
  position: relative;
}
.slider_dot {
  border-radius: 50%;
  display: inline-block;
  width: 3px;
  height: 3px;
  color: #ffffff;
}
.slider_text {
  color: #f5f2eb;
  position: absolute;
  left: 68px;
  top: 100px;
  padding: 25px;
}
.slider_text h3 {
  font-size: 44px;
  font-weight: 300;
  background-color: #3f3b3c;
  padding: 25px;
  display: inline-block;
}
.slider_text p {
  font-size: 24px;
  background-color: #3f3b3c;
  padding: 25px;
}

/*Pakalpojumi*/
.pakalpojumi {
  background-image: url("../fonspakalpojumi.png");
}
#pakalpojumi {
  text-align: center;
  border-bottom: 1px dotted;
  text-transform: uppercase;
  color: #95782d;
  padding-bottom: 25px;
}
#pakalpojumi_headings {
  text-transform: uppercase;
  text-align: left;
  color: #473a15;
  margin-left: 40px;
}
ul.pakalpojumi_lists li {
  list-style-type: none;
}
ul.pakalpojumi_lists li::after {
  content: "";
  width: 55px;
  border-bottom: 1px solid;
  display: block;
  color: #c7c5be;
  margin-top: 17px;
  margin-bottom: 17px;
}
.geodezija, .mernieciba, .zemesiericiba {
  width: 380px;
  color: #534c38;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  margin-left:10px;
  margin-bottom: 10px;
}
.text_without_image {
  overflow: hidden;
  width: 310px;
  margin-top: 40px;
  font-size: 16px;
  font-weight: 300;
}
.geodezija img {
  width: 52px;
  height: 55px;
  float: left;
  margin-top: 60px;
}
.mernieciba img {
  width: 42px;
  height: 54px;
  float: left;
  margin-top: 60px;
}
.zemesiericiba img {
  width: 64px;
  height: 53px;
  float: left;
  margin-top: 60px;
}

/*Pakalpojumi izcenojumi*/

.table1 {
  width: 580px;
  display: inline-block;
}
.table1 table, .table2 table {
  border-collapse: collapse;
  font-weight: 600;
}
.table2 {
  width: 580px;
  display: inline-block;
  margin-left: 10px;
}
.table1 p, .table2 p {
  font-size: 18px;
}
.table1 th, .table2 th {
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  padding: 16px;
}
.table1 tbody, .table2 tbody {
  font-size: 14px;
  border-bottom: 2px solid #dfd9cf;
}
.table1 td, .table2 td {
  padding: 16px;
}
.table1 tfoot {
  font-style: italic;
}
.table1 tbody tr:nth-child(even) {
  background-color: #fff;
}
.table1 tbody tr:nth-child(odd) {
  background-color: #f2ebe1;
}
.table2 tbody tr:nth-child(even) {
  background-color: #fff;
}
.table2 tbody tr:nth-child(odd) {
  background-color: #f2ebe1;
}

/*Par mums*/

.parmums {
  background-color: #6d5639;
  background-image: url("../fonsparmums.jpg");
 background-repeat: repeat;
  color: #b0a79c;
  font-size: 18px;
  text-align: justify;
  margin-top: 48px;
}
.row {
  overflow: hidden;
  margin-left: -15px;
  margin-right: -15px;
}
.col-2 {
  width: 50%;
  box-sizing: border-box;
  overflow: hidden;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
.col-2 img {
  display: block;
  margin: auto;
  height: 170px;
  width: 170px;
  margin-bottom: -30px;
}
.col-2 h4 {
  text-align: center;
  color: #c7a457;
  font-size: 36px;
  font-weight: lighter;
}
.col-2 h4::after {
  content: "";
  width: 338px;
  border-bottom: 1px solid;
  display: block;
  color: #77634a;
  margin-left: 150px;

  }
.contact_box p{
  text-align: center;
  font-size: 18px;
  color: #c7a457;
  margin-top: -40px;
}
.certificate{
  background-image: url("../certif.png");
  background-repeat: no-repeat;
  background-color: #624e36;
  padding-left: 246px;
  padding-right: 207px;
  margin: auto;
}
.certificate p{
  margin-top: 30px;
  overflow: hidden;
  font-size: 13px;
  width: 50%;
  display: inline;
  color: #eadfcd;
}


/*Klienti*/
/*a samim kartinkam nado dat' text align justify, vse kartinki nado zasunut v odin div */

/*klientsafter sdelat  content ""
display inline block
width 100%
*/


.logos {
text-align: justify;
margin-top: 53px;
 }

 .logos::after {
  content: "";
  display: inline-block;
  width: 100%;
 }


 /*Kontakti*/
.kontakti {

}
