/*Navigation menu*/
header {
  background-color: #473a2d;
width: 1400px;
height: 94px;
}
.wrapper {
width: 1400px;
}
.wrapper img {
  width:180px;
  height:55px;
  margin-top: 27px;
}
.nav_panel {
  float:right;
  display: inline;
}
.nav_list {
  float: left;
  margin-right: 50px;

}
.nav_lang {
  float:right;
  border-left: 1px solid #cfcbc8;

}
.nav_list li{
  list-style-type: none;
  display: inline;
  font-size: 15px;
  color:#ffffff;
  margin: 24px;

}
.nav_lang li{
  font-size: 13px;
  margin: 24px;


}
.nav_list  a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  text-align: justify;

}
.nav_lang  a{
  color: #ffffff;
}
.nav_menu,
.nav_lang {
  display: inline-block;
    }

/*Слайдер*/
.slider img{
  width: 1400px;
}
.slider_dot {
  border-radius: 50%;
  display: inline-block;
  width: 3px;
  height: 3px;
  color: #ffffff;
}
.slider_text {
font-family: 'Open Sans', sans-serif;
color: #f5f2eb;
}

.slider_text h3{
 font-size: 44px;
background-color: #3f3b3c;
padding: 10px;
display: inline;
position: relative;
}
.slider_text p{
font-size: 24px;
background-color: #3f3b3c;
padding: 10px;
display: inline;
position: relative;

}
/*Pakalpojumi*/

 #pakalpojumi {
  text-align: center;
  border-bottom: 1px dotted ;
  text-transform: uppercase;
}
#pakalpojumi_headings {
  text-transform: uppercase;
  text-align: center;
}
ul.pakalpojumi_lists li{
  list-style-type: none;
}
.geodezija {
  width: 33,333%;
  float: left;
  padding: 30px;
  margin: 30px;
}
.mernieciba {
  width: 33,333%;
  float: left;
  padding: 30px;
    margin: 30px;
}
.zemesiericiba {
  width: 33,333%;
  float: left;
  padding: 30px;
    margin: 30px;
}
